menu "ThingSpeak ESP DHT11 Configuration"
        
config THINGSPEAK_API_WRITE_KEY
    string "ThingSpeak channel's API write key"
    default "NOTSET"
    help
        The API Write key for your ThingSpeak channel

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) for the example to use.

endmenu
